/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
*,
*::before,
*::after {
  --blue-100: hsl(200 90% 90%);
  --blue-200: hsl(200 80% 80%);
  --blue-300: hsl(200 70% 70%);
  --blue-400: hsl(200 60% 60%);
  --blue-500: hsl(200 50% 50%);
  --blue-600: hsl(200 60% 40%);
  --blue-700: hsl(200 70% 30%);
  --blue-800: hsl(200 80% 20%);
  --blue-900: hsl(200 90% 10%);
}

body {
  font-family: sans-serif;
  margin: auto;
  padding: 20px;
  max-width: 65ch;
  text-align: left;
  background-color: #fff;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: #222;
}
a {
  color: var(--blue-400);
}
nav a {
  margin-right: 10px;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  display: block;
  border-collapse: collapse;
  border-top: 1px solid #eee;
  overflow: scroll;
  white-space: nowrap;
}
table th {
  border-bottom: 1px solid #eee;
  padding: 0.5em;
}
table td {
  padding: 0.5em;
}
table tr:nth-child(2n) {
  background-color: rgb(246, 246, 246);
}
img {
  max-width: 100%;
  height: auto;
}
code {
  font-family: monospace;
  padding: 2px 5px;
  background-color: hsl(0, 0%, 90%);
  border-radius: 0.5em;
  color: var(--blue-400);
}
pre {
  font-family: monospace;
  padding: 1rem;
  border-radius: 1em;
}
pre > code {
  all: unset;
}
blockquote {
  background-color: #eee;
  border-radius: 1em;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}
ul {
  padding-left: 2em;
}
ul li {
  margin: 0.5em 0;
}
ul li a {
  color: var(--blue-400);
}
ul li a:visited {
  color: var(--blue-700);
}
img {
  object-fit: cover;
  width: 100%;
  border-radius: 1em;
  border-color: #eee;
  border-width: 0.2em;
  border-style: solid;
  margin: -0.2em;
}
