/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
*,
*::before,
*::after {
  --hue: 200;

  --primary-50: hsl(var(--hue), 95%, 95%);
  --primary-100: hsl(var(--hue), 90%, 90%);
  --primary-200: hsl(var(--hue), 80%, 85%);
  --primary-300: hsl(var(--hue), 70%, 80%);
  --primary-400: hsl(var(--hue), 60%, 70%);
  --primary-500: hsl(var(--hue), 50%, 60%);
  --primary-600: hsl(var(--hue), 60%, 45%);
  --primary-700: hsl(var(--hue), 70%, 30%);
  --primary-800: hsl(var(--hue), 80%, 20%);
  --primary-900: hsl(var(--hue), 90%, 10%);

  --bg-color: hsl(var(--hue), 20%, 99%);
}

body {
  font-family: sans-serif;
  margin: auto;
  padding: 20px;
  max-width: 70ch;
  text-align: left;
  background-color: var(--bg-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  font-size: 18px;
  color: var(--primary-900);
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: var(--primary-900);
}
a {
  color: var(--primary-600);
}
nav a {
  /* margin-rigHt: 10px; */
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid var(--primary-900);
  overflow: scroll;
  white-space: nowrap;
}
table th {
  border-bottom: 1px solid var(--primary-900);
  padding: 0.5em;
}
table td {
  padding: 0.5em;
}
table tr:nth-child(2n) {
  background-color: var(--primary-50);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-inline: auto;
  margin-block: 1em;
  object-fit: cover;
  border-radius: 1em;
  border-color: #ccc;
  border-width: 0.2rem;
  border-style: solid;
}
code {
  font-family: monospace;
  padding: 2px 5px;
  background-color: var(--primary-100);
  border-radius: 0.5em;
  color: var(--primary-900);
}
pre {
  font-family: monospace;
  padding: 1rem;
  border-radius: 1em;
}
pre > code {
  all: unset;
}
blockquote {
  background-color: var(--primary-100);
  border-radius: 1em;
  color: var(--primary-900);
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}
ul {
  padding-left: 2em;
}
ul li {
  margin: 0.5em 0;
}
ul li a {
  color: var(--primary-600);
}
ul li a:visited {
  color: var(--primary-800);
}
.text-gray {
  color: #999;
}
.font-lighter {
  font-weight: lighter;
}
