/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
*,
*::before,
*::after {
  --hue: 200;

  --sky-50: hsl(204, 100%, 97%);
  --sky-100: hsl(204, 94%, 94%);
  --sky-200: hsl(201, 94%, 86%);
  --sky-300: hsl(199, 95%, 74%);
  --sky-400: hsl(198, 93%, 60%);
  --sky-500: hsl(199, 89%, 48%);
  --sky-600: hsl(200, 98%, 39%);
  --sky-700: hsl(201, 96%, 32%);
  --sky-800: hsl(201, 90%, 27%);
  --sky-900: hsl(202, 80%, 24%);

  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;

  --bg-color: hsl(var(--hue), 20%, 99%);
}

body {
  font-family: sans-serif;
  margin: auto;
  padding: 20px;
  max-width: 70ch;
  text-align: left;
  background-color: #fff;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  font-size: 18px;
  color: var(--gray-900);
  word-break: keep-all;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: var(--gray-900);
}
a {
  color: var(--sky-600);
}
/* nav a { */
/* margin-rigHt: 10px; */
/* } */
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid var(--sky-900);
  overflow: scroll;
  white-space: nowrap;
}
table th {
  border-bottom: 1px solid var(--sky-900);
  padding: 0.5em;
}
table td {
  padding: 0.5em;
}
table tr:nth-child(2n) {
  background-color: var(--sky-50);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-inline: auto;
  margin-block: 1em;
  object-fit: cover;
  border-radius: 1em;
  border-color: var(--gray-200);
  border-width: 0.2rem;
  border-style: solid;
}
code {
  font-family: monospace;
  padding: 2px 5px;
  background-color: var(--sky-100);
  border-radius: 0.5em;
  color: var(--sky-900);
}
pre {
  font-family: monospace;
  padding: 1rem;
  border-radius: 1em;
}
pre > code {
  all: unset;
}
blockquote {
  background-color: var(--sky-100);
  border-radius: 1em;
  color: var(--sky-900);
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}
ul {
  padding-left: 2em;
}
ul li {
  margin: 0.5em 0;
}
ul li a {
  color: var(--sky-600);
}
ul li a:visited {
  color: var(--sky-800);
}
.text-gray {
  color: var(--gray-400);
}
.font-lighter {
  font-weight: lighter;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
}
