---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .blk-wrapper {
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
      }
      .blk {
        width: 3em;
        aspect-ratio: 1 / 1;
        border-radius: 1em;
      }
    </style>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Hello, I am CJ.</h1>
      <p>
        안녕하세요. 제 이름은 이채준 입니다. CJ 라는 이름으로도 불리고 있습니다.
      </p>

      <section class="blk-wrapper">
        <div class="blk" style="background:var(--sky-100)"></div>
        <div class="blk" style="background:var(--sky-200)"></div>
        <div class="blk" style="background:var(--sky-300)"></div>
        <div class="blk" style="background:var(--sky-400)"></div>
        <div class="blk" style="background:var(--sky-500)"></div>
        <div class="blk" style="background:var(--sky-600)"></div>
        <div class="blk" style="background:var(--sky-700)"></div>
        <div class="blk" style="background:var(--sky-800)"></div>
        <div class="blk" style="background:var(--sky-900)"></div>
      </section>
    </main>
    <Footer />
  </body>
</html>
