---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const subRoute = (url: string) => url.split("/")[1];

const { href, class: className, ...props } = Astro.props;
const isActive = subRoute(href) === subRoute(Astro.url.pathname.replace(/\/$/, ""));
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    padding-inline: 0.5rem;
    font-family: sans-serif;
    text-decoration: none;
    color: var(--primary-500);
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>
