---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header>
  <h2>
    {SITE_TITLE}
  </h2>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="https://github.com/chaejunlee" target="_blank"
      >GitHub</HeaderLink
    >
  </nav>
</header>
<style>
  h2 {
    font-family: serif;
    font-weight: 400;
    text-decoration-thickness: 0.1em;
    text-decoration-color: #abcdef;
    text-decoration-line: underline;
    text-underline-offset: 0.15em;
    font-size: 2em;
  }
  header {
    margin: 0em 0 1.5em;
  }
  h2 {
    margin: 0.2em 0;
  }
  nav {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
  }
</style>
