---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <h2>
    {SITE_TITLE}
  </h2>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink
      href="https://github.com/chaejunlee"
      target="_blank"
      class="flex-center"
    >
      GitHub
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="external-link"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
        ></path>
      </svg>
    </HeaderLink>
  </nav>
</header>

<style>
  h2 {
    font-family: serif;
    font-weight: 400;
    text-decoration-thickness: 0.1em;
    text-decoration-color: #abcdef;
    text-decoration-line: underline;
    text-underline-offset: 0.15em;
    font-size: 2em;
  }
  header {
    margin: 0em 0 1.5em;
  }
  h2 {
    margin: 0.2em 0;
  }
  nav {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
  }
  .external-link {
    display: inline-block;
    width: 1em;
    height: 1em;
  }
</style>
