---
export type Tags = string[];
interface TagList {
  tags: Tags;
}

const { tags } = Astro.props as TagList;
---

<style>
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    margin-block: 0.5rem;
    padding: 0;
    list-style: none;
    gap: 0.5rem;
    text-decoration: none;
  }
  .tag {
    margin: 0;
    background-color: var(--gray-200);
    /* border: 2px solid var(--sky-700); */
    padding-inline: 1rem;
    padding-block: 0.25rem;
    border-radius: 100vh;
    text-decoration: none;
    color: var(--sky-800);
    font-size: 1rem;
  }
  .tag:hover {
    background-color: var(--gray-300);
    color: var(--sky-900);
  }
  .tag > li {
    margin: 0;
    padding: 0;
  }
</style>

<div class="tag-list">
  {
    tags.map((tag) => (
      <a class="tag" href={`/tags/${tag}`}>
        <span>{tag}</span>
      </a>
    ))
  }
</div>
